<div class="hero-unit">
  <h1>Welcome to the FSG-Quiz app!</h1>
  <p>This is the place to come if you want to practice for the FSG event registration. If you've found us, chances are you already know what the FSG registration quiz is and why you would want to practice for it. If you don't, click the link below.</p>
  <p>
    <a class="btn btn-primary btn-large">
      Learn more
    </a>
  </p>
</div>

<p class="ctext">Page located in app/views/welcome/index.html.erb</p>
