<div class="hero-unit">
  <h1>Welcome to the FSG-Quiz app!</h1>
  <p class="padtext">This is the place to come if you want to practice for the FSG event registration. If you've found us, chances are you already know what the FSG registration quiz is and why you would want to practice for it. If you don't, click the link below. (You will see a page with two links, one for FSC, one for FSE registration - click the one you need for further information.)</p>
  <p>
    <a class="btn btn-primary btn-large pull-right"
    href="http://www.formulastudent.de/fsg/pr/news/details/article/fsc-and-fse-registration-quiz-2014/"
    target="FSGRegistration">
      FSG Registration Information
    </a>
  </p>
</div>

<p class="ctext">Page located in app/views/welcome/index.html.erb</p>
